.frontPage {
  display: grid;
  grid-template-rows: 1fr 1fr 1fr;
  grid-template-areas: 'first-row' 'second-row' 'third-row';
}

.songs-row-1 {
  grid-area: 'first-row';
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: stretch;
  padding: 5rem;
}

.songs-row-2 {
  grid-area: 'second-row';
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: stretch;
  padding: 5rem;
}

.songs-row-3 {
  grid-area: 'third-row';
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: stretch;
  padding: 5rem;
}
