.music-player {
  background-color: whitesmoke;
  align-content: center;
  position: sticky;
  bottom: 0;
  padding: 3rem;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  box-shadow: 0 12.5px 100px -10px rgba(50, 50, 73, 0.4), 0 10px 10px -10px rgba(50, 50, 73, 0.3);
}
