.music-player {
  background-color: whitesmoke;
  position: fixed;
  width: 100%;
  bottom: 0;
  padding: 3rem;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-shrink: 10;
  flex-grow: 1;
  box-shadow: 0 12.5px 100px -10px rgba(50, 50, 73, 0.4), 0 10px 10px -10px rgba(50, 50, 73, 0.3);
}
